@use "sass:color";

$font-family: 'Nunito', sans-serif;
$font-color: #242426;
$fa-font-path: "../webfonts";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

/**
 *He decidido utilizar la metodología BEM para estructurar el css
 */

/** Esto es el body*/
.curriculum {
  background-image: url("../images/FondoCVweb.jpg");
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}

/** Aquí empieza el header*/
.banner{
  width:100%;
}

.contenedor{
  width:100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/** Esto es el contenedor de la imagen*/
.banner-pequeno {
  align-items: center;
  

/** Esto es la imagen del banner*/
      &__lila{
        
          max-width: 60vw;
      }
    }

/** Aquí empieza el navegador del header*/

.navegador{
  display: flex;
  justify-self: center;
  padding-top: 3vw;
  text-align: center;
}
.link{
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-family: $font-family;
  font-weight: bold;
  font-size: calc(0.3em + 1.2vw);
  }

.elementos{
  margin: 0;
  padding-right: 3vw;
  padding-left: 0;
  list-style-type: none;

      &--naranja{
        background-image: linear-gradient(to top left,#e0a63a,#e0a63a,#e0a63a,#e0a63a, white);
      }
      &--verde{
        background-image: linear-gradient(to top left,#8ee79d,#8ee79d,#8ee79d,#8ee79d, white);
      }

      &--amarillo{
        background-image: linear-gradient(to top left,#e9d462,#e9d462,#e9d462,#e9d462, white);
      }

      &--rosa{
        background-image: linear-gradient(to top left,#c568b8,#c568b8,#c568b8,#c568b8, white);
      }

      &--naranja, &--verde, &--amarillo, &--rosa {
        transition: all .5s ease;
        box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
        border: solid 4px #111110;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        border-bottom-right-radius: 225px 15px;
        border-bottom-left-radius: 15px 255px;
        margin: 1vw 0;
        padding: 0.5vw 2vw;
      /** Con el símbolo & hacemos referencia al padre */
        &:hover {
          box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
        }
      }
    }
/** Aquí acaba el header*/


/** Aquí empieza el main*/
.pizarra{
  margin: 0;
  padding: 0;
  padding-top: 5vw;
  min-height: 100vh;
}

/** Los cuatro próximos bloques contienen todos los elementos del main */
.cuadricula{
  padding: 0 10vw;
  margin: 0;
}

.grid-contenedor{
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-auto-rows: auto;
  text-align: justify;
}

.grid-item-izquierda{
  padding: 0;
}

.grid-item-derecha{
  padding-left: 10vw;
  text-align: left;
  align-self: center;
}

/** Estos son los cuadros enmarcados de la derecha */
.texto-encima{
  padding: 1rem 2rem;
  text-align: left;
  background-color: #fdfbf4;
  transition:all .5s ease;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border:solid 2px #41403E;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius:15px 255px;

    &:hover {
      box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
    }
  

    &--especial{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      @extend .texto-encima;
      
      
      &:hover {
        box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
      }
    }
  }

/** El texto */
.parrafo{
  font-family: $font-family;
  font-size: calc(0.4em + 0.8vw);
  text-align: justify;
}

/** Estos son los post-its de la izquierda */
.postit{
  width:100%;
  max-width: 70vw;
  min-width: 235px;
}
    
.lista{
  list-style-type: none;
  padding: 0;


    &--especial{
      list-style-type: none;
      padding: 0;
      display: inline-block;
    }
  }

.lista__item{
  font-family: $font-family;
  font-size: calc(0.4em + 0.8vw);
}

/** Aquí empieza el footer */
.footer{
  font-family: $font-family;
  font-size: calc(0.4em + 0.8vw);
}

.grid-footer{
  width: 100%;
  height: 12rem;
  background-color: #378870;
  align-items: center;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.4fr;
  margin:0;


    &__logo{
      
      padding: 1.5vw;
      width:7vw;
      
    }

    &__parrafo{
      padding-left: 5vw;
      padding-right: 7vw;
      text-align: left;
      color: $font-color;
      font-weight: bold;
    }
  }

.lista-navegador{
  padding-right: 3vw;
  padding-left: 0;
  list-style-type: none;
  text-align: left;


    &__item {
      display:inline-block;
      padding: 1vw;
    }
  }

/** Iconos de fontawesome */
.instagram{
  color:$font-color;
  text-decoration: none;
  font-size: 30px;
}
.linkedin{
  color:$font-color;
  text-decoration: none;
  font-size: 30px;
}
.contact{
  color:$font-color;
  text-decoration: none;
  font-size: 30px;
}


/** Media queries para pantallas de móvil */
@media screen and (max-width: 1300px){

  .elementos--naranja, .elementos--verde, .elementos--amarillo, .elementos--rosa {

    border: solid 3px #111110;
  }



}

@media screen and (max-width: 800px){

  .grid-contenedor{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .postit{
    max-width: 250px;
  }

  .contenedor{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navegador{
    padding: 0;
  }

  .elementos--naranja, .elementos--verde, .elementos--amarillo, .elementos--rosa {
    display: inline-block;
    border: solid 2px #111110;
  }

  .grid-item-derecha{
    padding: 0;
    padding-top: 3vw;
    padding-bottom: 8vw;
    align-items: center;
  }

  .parrafo{
    font-size: calc(0.6em + 1vw);
  }

  .lista__item{
    font-size: calc(0.6em + 1vw);
  }

  .footer{
    font-size: calc(0.6em + 0.9vw);
  }

  .grid-footer__logo{
    min-width: 50px;
  }

  .link{
    font-size: calc(0.4em + 1.3vw);
    }

  .elementos{
    padding:0;
  
  }

}