@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');



body {
  background-image: url("../images/FondoCVweb.jpg");
  width: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
}


main{
  margin: 0;
  padding: 0;
  padding-top: 40vh;
}


.container{
  width:100%;
  height: 20vh;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
}

.banner-pequeño {
  display: flex;
  align-items: center;
}
  .banner-pequeño img{
      width: 80vw;
  }
  

.navigation{
  display: flex;
  align-items: center;
  float: right;
  justify-self: right;
      ul {
        padding-right: 3vw;
        padding-left: 0;
        list-style-type: none;
        text-align: left;
            li {
              display:block;
                    a {
                      display: block;
                      color: #000000;
                      text-align: center;
                      text-decoration: none;
                      font-family: 'Pacifico', sans-serif;
                      font-size: calc(0.5em + 1.5vw);
                    }
              }
      }
}

.caja_imagen{
  position: relative;
  display: block;
  text-align: center;
  padding: 12rem;
  background-color:#ffffff;
  

          .texto_encima{
            position: absolute;
            top: 1rem;
            left: 1rem;
            right:1rem;
            padding: 2rem;
            text-align: left;
            

                      .centrado{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                      }
          }
}

.caja_imagen2{
  position: relative;
  display: block;
  text-align: center;
  padding: 12rem;
  background-color:#ffffff;
  

          .texto_encima{
            position: absolute;
            top: 1rem;
            left: 1rem;
            right:1rem;
            padding: 2rem;
            text-align: left;
            

                      .centrado{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                      }
          }
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: calc(1em + 0.4vw);
    text-align: justify;
  }


.grid-container-left{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    text-align: justify;
                
              img{
                  width:100%;
                  max-width: 70vw;
                  }
      }
  
.cuadricula{
        padding: 10vw;
        margin: 0;
    }

.grid-item2{
      padding: 0;
      
  }

  .grid-item3-left{
    padding-left: 15%;
    text-align: left;
    align-self: center;

                ul{
                  list-style-type: none;

                  li{
                    font-family: 'Nunito', sans-serif;
                    font-size: calc(1em + 0.4vw);
                    
                  }
                }
   }

   .grid_footer{
    position: relative;
    top: 30vh;
    width: 100%;
    height: 20vh;
    background-color: #378870;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;

              p{
                padding-left: 5vh;
                padding-right: 7vw;
                text-align: left;
                
                
          }
              img{
                width: 6vw;
                padding: 1.5rem;
            }
        }

  .navigation_footer ul{
            padding-right: 3vw;
            padding-left: 0;
            list-style-type: none;
            text-align: left;   
        }

  .navigation_footer ul li {
          display:block;
    
      }
  
      
    







