body {
    background-image: url("../images/FondoCVweb.jpg");
    width: 100%;
    max-width: 1200px;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  
  header{
    width:100%;
    max-width: 1200px;
    
    
        img{
          width:100%;
          max-width: 1200px;
          margin: 0;
          padding: 0;
  
        }
      
  }
  
  
  .postits-izq img{
    width: 30rem;
  }
  
  .postits-der img{
    width: 30rem;
  }
  